.axis path,
.axis line {
	fill: none;
  stroke: gray;
  stroke-width: 1px;
	shape-rendering: crispEdges;
}
.axistitle{
  font: 20px calibri;
  color: red; !important;
}

path.line {
  fill: none;
}

.dot {
  outline: none;
  opacity: .6;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  border-radius:  5px;
  padding: 5px;
  display: inline-block;
  opacity: 1;
  font: 15px calibri;
  color: black;

}

.label {
  font: 12px calibri;
  color: red;
}

.legendtext {
  font: 15px calibri;
  color: red;
}

#viz {
    width: 1000px;
		height: 500px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
