.axis path,

.axis line {
	fill: none;
  stroke: gray;
  stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axistitle{
  font: 20px calibri;
  color: red; !important;
}

path.line {
  fill: none;
}



.word {
  fill: grey;
	font-size: 20px;
	opacity: 0.5;
	text-anchor: middle;
}


#content {
    width: 1000px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.gridline {
	stroke-width: .5;
	stroke: black;
}
