---
layout: default
title: Alphabet
---
<div id="wrap">

      <h2>{{ page.title }} </h2>
        <p>Copying Mike Bostock's d3 join tutorial.
        </p>

        </p>
</div>

<div id="viz"></div>

<div id="wrap">
  <br>

  <p>One of the most apparent things about this visualization is that words with a positive rating are generally describing the food,
    whereas negative words are generally describing the service. Any manager looking to efficiently improve their restaurant should first look at their customer service
    before thinking about amending the menu or altering the ambiance.

  </p>


  <p>The data used in this visualization is taken from from <a href="(https://www.kaggle.com/c/yelp-recsys-2013">Kaggle's Yelp Business Rating Prediction competition</a>,
    a collection of millions of restaurant reviews, each accompanied by a 1-5 star rating.
    The data was processed and the sentiment ratio for each token was calculated in an <a href="https://github.com/chrisdaly/Yelp-Analysis/blob/master/notebooks/Yelp%20analysis.ipynb">ipython notebook</a>.
    A naiive bayes model was also used to predict the rating of new reviews with an accuracy of 92% achieved.
  </p>
</div>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/alphabet/js/viz.js"></script>
