---
layout: default
title: Career Paths
---
<div id="wrap">

      <h2>{{ page.title }} </h2>
        <p>Career path visualization. Data obtained from Glassdoor's API.
          <br>
          Interesting articles:
          <p><a href="http://journals.sagepub.com/doi/full/10.1177/0003122413518638">Dilettante or Renaissance Person? How the Order of Job Experiences Affects Hiring in an External Labor Market</a>
          <br>
          <br>
          <p><a href="https://www.glassdoor.com/blog/diversity-career-hired/">How Diversity in Your Career Can Get You Hired
          </p>
          <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>jobTitle</th>
      <th>nextJobTitle</th>
      <th>frequency</th>
      <th>frequencyPercent</th>
      <th>nationalJobCount</th>
      <th>medianSalary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>data scientist</td>
      <td>research assistant</td>
      <td>13</td>
      <td>18.309859</td>
      <td>13689</td>
      <td>34000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>data scientist</td>
      <td>consultant</td>
      <td>8</td>
      <td>11.267606</td>
      <td>43263</td>
      <td>77000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>data scientist</td>
      <td>data architect</td>
      <td>7</td>
      <td>9.859155</td>
      <td>11447</td>
      <td>93000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>data scientist</td>
      <td>developer</td>
      <td>6</td>
      <td>8.450704</td>
      <td>38895</td>
      <td>70491</td>
    </tr>
    <tr>
      <th>4</th>
      <td>data scientist</td>
      <td>project manager</td>
      <td>4</td>
      <td>5.633803</td>
      <td>90853</td>
      <td>85000</td>
    </tr>
  </tbody>
</table>
</div>


<link rel="stylesheet" href="/static/css/custom.css">
<link rel="stylesheet" href="/static/css/tree.css">



<div id="wrap">
  <div id="viz"></div>
  <br>
</div>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/tree.js"></script>
