<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
   <link rel="stylesheet" href="/static/css/custom.css">
  
  </head>

<body>
  <!-- Navbar -->
<div id="wrap">

    <p id="toplinks">

    </p>

    <h1><a href="/"><div id="logo"></div>chris<span class="fade">daly</span></a></h1>
    <div class="slogan">
          <a href="/datascience.html" class="red">datascience{python}</a> :|: 
          <a href="/dataviz.html" class="green">dataviz{d3}</a> <!-- :|: 
          <a href="/about.html" class="blue">life{me}</a> -->
    </div>


</body>
</div>

{{ content }}

</html>
